{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container bag-hero-image">
    <div class="row">
        <div class="col-12 col-md-6 my-auto text-center">
            <h2 class="text-light font-weight-bold mt-5">This is Your Bag</h2>
        </div>
    </div>
</div>

    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Logo Requests</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive-sm rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Package Info</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in bag_items %}
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                <tr class="mobile-bag-grid">
                                    <td colspan="1" class="py-3">
                                        <p class="my-0"><strong>Item ID: {{ item.item_id }}</strong></p>
                                        <p class="my-1 text-muted">Company Name: 
                                            <!-- {{ item.company_name|upper }} -->
                                            <input class="form-control" type="text" name="company_name" data-item_id="{{ package.id }}" id="company_name_{{ package.id }}" value="{{ item.company_name|upper }}">
                                        </p>
                                        <p class="my-1 text-muted">Company Slogan or Strapline: 
                                            <!-- {{ item.company_slogan|upper }} -->
                                            <input class="form-control" type="text" name="company_slogan" data-item_id="{{ package.id }}" id="company_slogan_{{ package.id }}" value="{{ item.company_slogan|upper }}">
                                        </p>
                                        <p class="my-1 text-muted">Company Description: 
                                            <!-- {{ item.company_description|upper }} -->
                                            <textarea class="form-control" name="company_description" data-item_id="{{ package.id }}" id="company_description_{{ package.id }}" value="{{ item.company_description|upper }}" placeholder="{{ item.company_description|upper }}"></textarea>
                                        </p>
                                        <p class="my-1 text-muted">Logo Colours: 
                                            <!-- {{ item.company_colors|upper }} -->
                                            <input class="form-control" type="text" name="company_colors" data-item_id="{{ package.id }}" id="company_colors_{{ package.id }}" value="{{ item.company_colors|upper }}">
                                        </p>
                                        <p class="my-1 text-muted">Logo Look and Feel: 
                                            <!-- {{ item.company_look|upper }} -->
                                            <input class="form-control" type="text" name="company_look" data-item_id="{{ package.id }}" id="company_look_{{ package.id }}" value="{{ item.company_look|upper }}">
                                        </p>
                                    </td>

                                    <td colspan="1" class="w-25">
                                        {% csrf_token %}
                                            {% if item.package.name == "lite" %}
                                                <div class="card bg-grey text-white">
                                            {% elif item.package.name == "plus" %}
                                                <div class="card bg-black text-white">
                                            {% elif item.package.name == "premium" %}
                                                <div class="card bg-blue text-white">
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="{{ item.package.image.url }}" class="card-img-top w-75 pt-1 mb-3" alt="Chess piece">
                                                </div>
                                                <div class="col-5">
                                                    <h5 class="card-title mt-3 ml-n4">{{ item.package.friendly_name }}</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-text font-weight-light mb-4">What You'll Get</h6>
                                                <ul class="pl-0">
                                                    <li class="list-unstyled mb-2"><i class="fas fa-check-circle"></i>  {{ item.package.logo_count_request }} Custom-made Logo Designs</li>
                                                    <li class="list-unstyled mb-2"><i class="fas fa-check-circle"></i>  {{ item.package.quality_request }}</li>
                                                    <li class="list-unstyled mb-2"><i class="fas fa-check-circle"></i>  {{ item.package.support_request }}</li>
                                                    <li class="list-unstyled mb-2"><i class="fas fa-check-circle"></i>  {{ item.package.production_days }} Days Production</li>
                                                </ul>
                                                <hr class="bg-white"/>
                                                <h6 class="my-3">£{{ item.package.price }}</h6>
                                            </div>
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td class="pt-5 text-center">
                                    <a class="update-link text-info px-5">Update Details</a>
                                    <a class="remove-item text-danger px-5" id="remove_{{ item.item_id }}">Remove</a>
                                </td>
                            </tr>   
                            {% endfor %}
                            <tr class="mobile-bag-grid">
                                <td colspan="2" class="pt-5 text-center">
                                    <h5 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                                </td>
                            </tr>
                            <tr class="mobile-bag-grid">
                                <td colspan="2" class="text-center">
                                    <a href="/projects/?company=austin_james" class="btn btn-outline-black rounded-0">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Review Case Studies</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">You have no stored requests.</p>
                    <a href="{% url 'packages' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Choose a package</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var details = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}