{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid home-hero-image py-5">
        <div class="row">
            <div class="col-11 col-md-9 my-auto">
                <h2 class="text-uppercase text-white pt-5">Kingland <span class="text-muted text-uppercase">Design</span></h2>
                <h1 class="display-2 text-white font-weight-bold py-5">Logo designs for your business</h1>
                <p class="my-5 text-white">Kingsland Design produce high quality logos to fit your specific business needs. Over 7 years of high quality logos produced for extremely satisfied customers, we are confident we can work with you to create a logo that is specific and unique to you and your business.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <h5>Projects</h5>
    </div>
    <div class="row justify-content-center">
        <p>Just some of the logos produced</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/media/aj-1.jpg" class="w-100" alt="Austin James company logo">
            </div>
            <div class="col">
                <img src="/media/bb-12.jpg" class="w-100" alt="Baby Baby company logo">
            </div>
            <div class="col">
                <img src="/media/cc-1.jpg" class="w-100" alt="Council Culture band logo">
            </div>
            <div class="w-100"></div>
            <div class="col">
                <img src="/media/bq-1.jpg" class="w-100" alt="Button Queen company logo">
            </div>
            <div class="col">
                <img src="/media/ww-2.jpg" class="w-100" alt="West Two Wine company logo">
            </div>
            <div class="col">
                <img src="/media/op-1.jpg" class="w-100" alt="Optimum Par company logo">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <h5>Not just a logo design agency</h5>
    </div>
    <div class="container-flud px-5 my-5">
        <div class="row">
            <div class="col-6">
                <h4>Working Together</h4>
                <p>Whether it’s digital, stationary, or even printing on clothes, Kingsland Design work with you on creating your perfect logo that will work with all of your design needs.</p>
            </div>
        </div>
    </div>  
{% endblock %}