{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-9 col-md-8 my-auto">
                <h2 class="text-uppercase">Kingland <span class="text-muted text-uppercase">Design</span></h2>
                <h1 class="display-2 text-black">Logo designs for your business</h1>
                <p class="my-5">Kingsland Design produce high quality logos to fit your specific business needs. Over 7 years of high quality logos produced for extremely satisfied customers, we are confident we can work with you to create a logo that is specific and unique to you and your business.</p>
            </div>
        </div>
    </div>
{% endblock %}