{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid profile-image">
    <div class="row py-5">
        <div class="bg-light row justify-content-center profile-card py-5">
            <div class="col-lg-12 col-md-9 col-sm-6">
                <h4 class="text-dark font-weight-bold mb-3"> {{ user }} User</h4>
                <p class="text-muted mb-0">Email</p>
                <p>{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h4 class="text-dark font-weight-semibold">This is your Profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Your Details</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 my-5 mx-auto">
            <a href="{% url 'packages' %}" class="btn btn-info w-100 rounded-0 px-5">New Order</a>
        </div>
    </div>

    <hr class="my-2">

    <div class="row">
        <div class="col-4 mx-auto text-center ">
            <p class="text-muted"><u>Order Details</u></p>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12">
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:12 }}</a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="text-capitalize list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="list-group-item active">Package: {{ item.package.name }}</li>
                                    <li class="list-group-item">Logo Name: {{ order.company_name }}</li>
                                    <li class="list-group-item">Slogan: {{ order.company_slogan }}</li>
                                    <li class="list-group-item">Company Description: {{ order.company_description }}
                                    </li>
                                    <li class="list-group-item">Colours request: {{ order.company_colours }}</li>
                                    <li class="list-group-item">Look & Feel: {{ order.company_look }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£ {{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    })
</script>

<script src="{% static 'profiles/js/countryfield.js' %}"></script>

{% endblock %}