/* package order page */

.package-hero-image {
    background: url('/media/form-think.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 11em;
}

/* checkout order page */
.checkout-hero-image {
    background: url('/media/pay-lightbulb.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 11em;
}