.package-hero-image {
    background: url('/media/form-think.jpg') no-repeat top center fixed;
    background-size: cover;
    padding-top: 11em;
    height: 75%;
}

.product-manage-container {
    margin-top: 15%;
}

.bg-grey {
    background-color: #668586 !important;
    width: 20rem;
}

.bg-black {
    background-color: #000 !important;
    width: 20rem;
}

.bg-blue {
    background-color: #252060 !important;
    width: 20rem;
}

.bg-purple {
    background-color: #ab10d1 !important;
    width: 20rem;
}

.carousel-control-next {
    background-color: #000;
}

.carousel-control-prev {
    background-color: #000;
}

.carousel {
    text-align: -webkit-center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.562);
}

@media (max-width: 1199px) {
    .product-manage-container {
        margin-top: 30%;
    }
}

@media (max-width: 991px) {
    .product-manage-container {
        margin-top: 35%;
    }
}