.package-hero-image {
    background: url('/media/form-think.jpg') no-repeat top center fixed;
    background-size: cover;
    padding-top: 11em;
}

.bg-grey {
    background-color: #668586 !important;
    width: 20rem;
}

.bg-black {
    background-color: #000 !important;
    width: 20rem;
}

.bg-blue {
    background-color: #252060 !important;
    width: 20rem;
}

@media (min-width: 767px) {
    .package-hero-image {
        height: 75%;
    }
}