.profile-image {
    background: url('/media/profile.jpg') no-repeat center fixed;
    background-size: cover;
    padding-top: 11em;
    height: 90%;
}

.profile-card {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20%;
    padding-left: 20%;
}

.bg-grey {
    background-color: #668586 !important;
    width: 20rem;
}

.bg-black {
    background-color: #000 !important;
    width: 20rem;
}

.bg-blue {
    background-color: #252060 !important;
    width: 20rem;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #000;
    border-color: #007bff;
}

@media (max-width: 1199px) {
    .profile-image {
        height: 75%;
        margin-top: 10%;
    }

    .profile-card {
        margin-top: 10%;
    }
}

@media (max-width: 991px) {
    .profile-image {
        height: 75%;
    }
}

@media (max-width: 767px) {
    .profile-image {
        margin-top: 10%;
        height: 75%;
    }

    .profile-card {
        margin-top: -10%;
        padding: 0;
    }

    .order-history {
        font-size: 0.6em;
        font-weight: 700;
    }
}