.package-hero-image {
    background: url('/media/form-think.jpg') no-repeat top center fixed;
    background-size: cover;
    padding-top: 11em;
}

.bg-grey {
    background-color: #668586 !important;
    width: 20rem;
}

.bg-black {
    background-color: #000 !important;
    width: 20rem;
}

.bg-blue {
    background-color: #252060 !important;
    width: 20rem;
}

.carousel-control-next {
    background-color: #000;
}

.carousel-control-prev {
    background-color: #000;
}

.carousel {
    text-align: -webkit-center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.562);
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

@media (min-width: 767px) {
    .package-hero-image {
        height: 75%;
    }
}