html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: "Poppins", "Inter", Arial, sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.nav-logo {
    width: 100%;
}

.nav-contact {
    color: #dc7000;
}

.nav-text {
    color: #000;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fffcff !important;
}

.border-black {
    border: 1px solid black !important;
}

/* footer */

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    margin: 5px 0 5px 25px;
}

.social-links li a i:hover {
    background: #dc7000;
}

/*-- Consistent button format ? --*/


/* -- Media Queries --*/
  
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .mobile-top {
        display: none;
    }
}

@media (max-width: 991px) {
    .mobile-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .display-2 {
        font-size: 2.5rem;
    }

    body {
        font-size: 0.75em;
    }
}

@media (max-width: 767px) {
    .social-links {
    padding-top: 0;
    justify-content: center;
    text-align: center;
    }

    .social-links li a i {
    width: 33px;
    height: 33px;
    padding: 9px 0px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.35s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
    }

    footer {
        font-size: 0.75em;
    }

    body {
        font-size: 0.75em;
    }

    .carousel-caption {
        font-size: 0.5em;
    }

    .carousel-caption h5 {
        font-size: 2em;
    }
}


/* home page */

.home-hero-image {
    background: url('/media/hero2.jpg') no-repeat bottom center fixed;
    background-size: cover;
    padding-top: 11em;
}

.carousel-control-next {
    background-color: #000;
}

.carousel-control-prev {
    background-color: #000;
}

.carousel {
    text-align: -webkit-center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.562);
}

/* projects page */

.carousel-control-next-projects {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    right: 0;
    background-color: #fff;
}

.carousel-control-prev-projects {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    left: 0;
    background-color: #fff;
}

.project-header {
    margin-top: 5%;
}