{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

  
    
{% block content %}
<div class="container login-container">
  {% if device.is_small %}
    <div class="row">
      <div class="col login-hero-image my-5">
      </div>
    </div> 
    <div class="row">
      <div class="col my-5 px-5">
  {% else %}
    <div class="row">
      <div class="col-6 login-hero-image">

      </div>
      <div class="col-6 my-5 px-5">
  {% endif %}

      <p>Welcome back</p>
      <h1>Login to your Account</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

          <div class="login-or">{% trans 'or' %}</div>

        </div>
        
        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      
        <div class="row justify-content-center">
          <form class="login my-5" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </div>
            <div class="row justify-content-end pr-5">
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            <div class="row justify-content-center my-5">
              <button class="primaryAction btn-success btn-lg" type="submit">{% trans "Sign In" %}</button>
            </div>

        <p class="my-5 text-center">{% blocktrans %}Don't have an account yet?, then please
          <a href="{{ signup_url }}">sign up</a>!{% endblocktrans %}</p>
      {% endif %}
        </form>
    </div>
  </div>
</div>
{% endblock %}


