{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
{% endblock %}


{% block content %}
    <div class="container checkout-hero-image h-75">
        <div class="row">
            <div class="col-12 col-md-6 my-auto pt-md-3 text-center">
                <h4 class="text-light font-weight-bold py-5">Your Purchase</h4>
                <p class="text-light text-center mb-5">Safe and secure</p>
            </div>
        </div>
    </div>

    

    <div class="container">
        <div class="row">
            <div class="col">
                {{ packages }}
            </div>
        </div>
    </div>
{% endblock %}