.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-group,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.bag-hero-image {
  background: url('/media/pay-lightbulb.jpg') no-repeat center bottom fixed;
  background-size: contain;
  padding-top: 11em;
  height: 100%;
}

.checkout-success-image {
  background: url('/media/checkoutsuccess.jpg') no-repeat center top;
  background-size: cover;
  background-position-x: right;
  padding-top: 11em;
  height: 75%;
  margin-top: 10%;
  filter: drop-shadow(2px 4px 6px black);
}

.checkout-hero-text {
  margin-top: 15%;
}

.bg-grey {
    background-color: #668586 !important;
    width: 20rem;
}

.bg-black {
    background-color: #000 !important;
    width: 20rem;
}

.bg-blue {
    background-color: #252060 !important;
    width: 20rem;
}

.bg-purple {
  background-color: #ab10d1 !important;
  width: 20rem;
}

.submit-button {
  display: grid;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 133, 134, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color:#aab7c4 !important;
}

@media (max-width: 1199px) {
  .bag-hero-image {
    background: url('/media/pay-lightbulb.jpg') no-repeat center top fixed;
    background-size: contain;
    padding-top: 11em;
    height: 75%;
  }
}


@media (max-width: 767px) {
  .bag-hero-image {
    height: 24em;
  }

  .checkout-success-image {
    height: 24em;
  }

  .checkout-hero-text {
    margin-top: 0
  }

  .margin-small-left {
    margin-left: 2%;
  }
}